/{
	chosen {
		zephyr,canbus = &can1;
	};
	aliases {
		laser-serial = &usart2;
	};
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <19200>;
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	pinctrl-names = "default";
	status = "okay";
};


