
/dts-v1/;
#include <st/f4/stm32f407Xe.dtsi>
#include <st/f4/stm32f407v(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "monv_f407vet6 board";
	compatible = "monv-stm32f407t6";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
		zephyr,canbus = &can1;
		zephyr,settings-partition = &cfg_partition;
		zephyr,code-partition = &slot0_partition;
		zephyr,rtc = &rtc;
	};
	leds {
		compatible = "gpio-leds";
		heart_status: led_1 {
			gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};
	};

	aliases {
		led0 = &heart_status;
		rtc = &rtc;
		mcuboot-led0 = &heart_status;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <19200>;
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	pinctrl-names = "default";
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(448)>;
		};
	};
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
	w25q128jv: w25q128jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0000000 DT_SIZE_M(16)>;
		spi-max-frequency = <30000000>;
		size = <0x8000000>;
		jedec-id = [ef 40 18];
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			storage_partition: partition@0 {
				label = "data";
				reg = <0x00000000 DT_SIZE_M(13)>;
			};
			slot1_partition: partition@D00000 {
				label = "image-1";
				reg = <0x00D00000 DT_SIZE_K(448)>;
			};
			scratch_partition: partition@D70000 {
				label = "image-scratch";
				reg = <0x00D70000 DT_SIZE_K(256)>;
			};
			cfg_partition: partition@E00000 {
				label = "cfg";
				reg = <0x00E00000 DT_SIZE_M(2)>;
			};
		};
	};
};

&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	pinctrl-names = "default";
	status = "okay";
};

&rng {
	status = "okay";
};

