# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable GPIO
CONFIG_GPIO=y

# Enable flash
CONFIG_FLASH=y
CONFIG_SPI_NOR_SFDP_MINIMAL=n
CONFIG_SPI_NOR_FLASH_LAYOUT_PAGE_SIZE=4096

# enable flash map
CONFIG_FLASH_MAP=y

# rtc
CONFIG_RTC=y

# ethernet
CONFIG_NET_L2_ETHERNET=y
CONFIG_NETWORKING=y

# memc
CONFIG_MEMC=y
CONFIG_DISPLAY=y
CONFIG_MIPI_DBI=y
