
/dts-v1/;
#include <st/f4/stm32f407Xg.dtsi>
#include <st/f4/stm32f407z(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>

/ {
	model = "xinxin_f407zgt6 board";
	compatible = "xinxin-stm32f407zgt6";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
		zephyr,code-partition = &slot0_partition;
		zephyr,rtc = &rtc;
	};
	leds {
		compatible = "gpio-leds";
		LED0: led_0 {
			gpios = <&gpioe 3 GPIO_ACTIVE_LOW>;
			label = "User LED0";
		};
		LED1: led_1 {
			gpios = <&gpioe 4 GPIO_ACTIVE_LOW>;
			label = "User LED1";
		};
		LED2: led_2 {
			gpios = <&gpiog 9 GPIO_ACTIVE_LOW>;
			label = "User LED2";
		};
	};

	buttons: gpio_keys {
		compatible = "gpio-keys";
		up_key: up_key {
			label = "UP_KEY";
			gpios = <&gpiof 7 GPIO_PULL_UP>;
			zephyr,code = <INPUT_KEY_UP>;
		};
		down_key: down_key {
			label = "DOWN_KEY";
			gpios = <&gpiof 9 GPIO_PULL_UP>;
			zephyr,code = <INPUT_KEY_DOWN>;
		};
		left_key: left_key {
			label = "LEFT_KEY";
			gpios = <&gpiof 6 GPIO_PULL_UP>;
			zephyr,code = <INPUT_KEY_LEFT>;
		};
		right_key: right_key {
			label = "RIGHT_KEY";
			gpios = <&gpiof 8 GPIO_PULL_UP>;
			zephyr,code = <INPUT_KEY_RIGHT>;
		};
	};

	aliases {
		rtc = &rtc;
	};
	zephyr,user {
            	ethreset-gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
	};
	keypad {
		compatible = "zephyr,lvgl-keypad-input";
		input = <&buttons>;
		input-codes = <INPUT_KEY_RIGHT INPUT_KEY_LEFT INPUT_KEY_UP INPUT_KEY_DOWN>;
		lvgl-codes =  <LV_KEY_RIGHT LV_KEY_LEFT LV_KEY_UP LV_KEY_DOWN>;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(128)>;
			read-only;
		};

		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 DT_SIZE_K(896)>;
		};
	};
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpiog 8 GPIO_ACTIVE_LOW>;
	w25q128jv: w25q128jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <30000000>;
		size = <0x8000000>;
		jedec-id = [ef 40 18];
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			storage_partition: partition@0 {
				label = "data";
				reg = <0x00000000 DT_SIZE_M(13)>;
			};
			slot1_partition: partition@D00000 {
				label = "image-1";
				reg = <0x00D00000 DT_SIZE_K(896)>;
			};
			scratch_partition: partition@DE0000 {
				label = "image-scratch";
				reg = <0x00DE0000 DT_SIZE_K(128)>;
			};
			cfg_partition: partition@E00000 {
				label = "cfg";
				reg = <0x00E00000 DT_SIZE_M(2)>;
			};
		};
	};
};

&rng {
	status = "okay";
};

&mac {
	status = "okay";
	pinctrl-0 = <&eth_rxd0_pc4 &eth_rxd1_pc5 &eth_ref_clk_pa1 &eth_crs_dv_pa7 &eth_tx_en_pg11 &eth_txd0_pg13 &eth_txd1_pg14>;
	pinctrl-names = "default";
	phy-connection-type = "rmii";
	phy-handle = <&eth_phy>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";

	eth_phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
	};
};

&sdmmc1 {
	status = "okay";
	pinctrl-0 = <&sdio_d0_pc8
		     &sdio_d1_pc9
		     &sdio_d2_pc10
		     &sdio_d3_pc11
		     &sdio_ck_pc12
		     &sdio_cmd_pd2>;
	pinctrl-names = "default";
	disk-name = "SD";
};
